<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("input[name='ordertype']").click(function () {
            if ($("#dineIn").is(":checked")) {
                $("#noOfCustomers").show();
            } else {
                $("#noOfCustomers").hide();
            }
            if ($("#pickUp").is(":checked")) {
                $("#time").show();
            } else {
                $("#time").hide();
            }
            if ($("#delivery").is(":checked")) {
                $("#address").show();
            } else {
                $("#address").hide();
            }

        });
    });
</script>
</script>
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h1>Checkout</h1>
        <h4>Your Total: ${{total}}</h4>
        <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
            {{errMsg}}
        </div>
        <form action="/guest-checkout" method="post" id="checkout-form">
        <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Email</label>
                        <input type="email" id="email" class="form-control" required name="email">
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" required name="name">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" id="address" class="form-control" required name="address">
                    </div>
                </div>
                <hr>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-name">Card Holder Name</label>
                        <input type="text" id="card-name" class="form-control" required>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-number">Credit Card Number</label>
                        <input type="text" id="card-number" class="form-control" required>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="card-expiry-month">Expiration Month</label>
                                <input type="text" id="card-expiry-month" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="card-expiry-year">Expiration Year</label>
                                <input type="text" id="card-expiry-year" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-cvc">CVC</label>
                        <input type="text" id="card-cvc" class="form-control" required>
                    </div>
                </div>
            </div>
           
            
<label for="dineIn">
    <input type="radio" id="dineIn" name="ordertype" />
    Dine In
</label>
<label for="pickUp">
    <input type="radio" id="pickUp" name="ordertype" />
    Pick Up
</label>
<label for="delivery">
    <input type="radio" id="delivery" name="ordertype" />
    Delivery
</label>


<hr />
<div id="noOfCustomers" style="display: none">
    Number of customers:
    <input type="text" id="noOfcust" />
</div>
<div id="time" style="display: none">
    Time: 
    <input id="datetime" type="datetime-local" value="2017-06-01T08:30">
</div>
<div id="address" style="display: none">
    Address:
    <input type="text" id="addressOfCust" />
</div>
                
                
            



                {{!-- <label class="radio-inline">
                <input type="radio" name="ordertype" value="dinein"> Dine In<br>
                </label>
                <label class="radio-inline">
                <input type="radio" name="ordertype" value="pickUp"> Pick Up<br>
                </label>
                 <label class="radio-inline">
                <input type="radio" name="ordertype" value="delivery"> Delivery<br>
                </label>
            </div> --}}
            <br>
            <br>
            <button type="submit" class="btn btn-success">Order</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>