<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">



<style>






/* div.polaroid {
  width: 100%;
  background-color: rgb(111, 219, 238);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
} */




.container {
    width:65%;
}


body{
                background: linear-gradient(132deg, #ec5218, #1665c1);
                background-size: 100% 100%;
                animation: BackgroundGradient 30s ease infinite;

background-image:url("https://images.pexels.com/photos/139319/pexels-photo-139319.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
                
            }
            
            @keyframes BackgroundGradient {
                0% {background-position: 0% 50%;}
                50% {background-position: 100% 50%;}
                100% {background-position: 0% 50%;}
            }
           

            #bannerr-image {
			margin: 0 auto;
			float: none;
			padding: 5px;
			opacity: 0.7;
            border-radius: 5;
		}
        .zoom {
    
    transition: transform .2s; /* Animation */
    width: 380px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.25); 
}

</style>

<style>


.div1 {


    background-color: rgba(243, 72, 72, 0.664);
    width: 500px;
    padding: 15px;
    margin: 15px;
    text-align: center;
    text-decoration: underline;
    font-size: 22px;
     color: white;
    text-shadow: 2px 2px 4px #000000;
       box-shadow: 7px 7px 3.5px rgba(245, 61, 61, 0.712);
         position: absolute;
    right: 418px;
    
}

#footer {
   background-color: #000000d7;
    

     float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
       position: absolute;
    right: 0px;

}





</style>
<div class="view zoom">
     <img  id="bannerr-image" class="img-responsive img-rounded center-block-xs img-fluid" src="../images/logo.png" alt="simply siam logo" >
     <div class="mask flex-center">
        
        </div>
    </div>
         
   
{{!-- <br><br><br><br><br> --}}
<div class="div1" > Order Now!!! (660) 582-2077 <i class="material-icons">phone</i> </div>
<br><br><br><br><br>
<div class="polaroid">
  
    
<div class="container">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="../images/menu1.jpg"  style="width:100%;">
          </div>
    
          <div class="item ">
            <img src="../images/menu2.jpg"  style="width:100%;">
          </div>
        
          <div class="item">
            <img src="../images/menu3.jpg"  style="width:100%;">
          </div>
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
</div>
<br>
<footer id="footer" class="col-xs-12">
          
          <div id="footer-copyright">&copy; 2018 <a href= target="_blank">Simplysiam.com</a> All rights reserved.</div> <div id="footer-links"><a href="https://Simplysiam/privacy-policy.html" target="_blank">Privacy Policy</a> &#124; <a href="https://Simplysiam.com/customer-faq" target="_blank">FAQ</a></div>
        